/* ============================================================
 * Settings: Variables
 * ============================================================
 *
 * Global variables which affect the elements of the project
 *
 */

// ============================================================
// Spacing variables

$s-spacing--tiny:        5px !default;
$s-spacing--small:       10px !default;
$s-spacing--large:       15px !default;
$s-spacing--huge:        20px !default;


// ============================================================
// Border width variables

$s-border-width:         4px !default;
$s-border-width--sm:     4px !default;
$s-border-width--md:     6px !default;