extends partials/_layout

block vars
  - var config_title = 'Contact'

block content

  tr
    td(class="c-wrapper__description u-global")
      span Minions ipsum chasy poulet tikka masala chasy. Wiiiii poopayee potatoooo me want bananaaa! Chasy bappleees poulet tikka masala underweaaar para tú bappleees. Poopayee tatata bala tu wiiiii la bodaaa. Poopayee pepete ti aamoo! Jeje belloo! Pepete underweaaar jeje me want bananaaa! Chasy aaaaaah. Bappleees jeje la bodaaa baboiii gelatooo potatoooo belloo! Wiiiii. Tulaliloo ti aamoo! Chasy hana dul sae bappleees baboiii tatata bala tu para tú. Hahaha me want bananaaa! Chasy ti aamoo! Aaaaaah pepete poopayee belloo! Po kass underweaaar. Underweaaar baboiii baboiii po kass potatoooo gelatooo me want bananaaa!
